body {
  font-family: 'Quicksand', sans-serif;
  background-image: url("https://res.cloudinary.com/tempest/image/upload/c_limit,cs_srgb,dpr_1.0,q_80,w_10000/MTI5MzY3NjMxODg2MDY0MDk0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #464646;
  background-position: center center;
}


.logo {
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  color: #fff !important;
}

main {
  margin: 80px 0;
}

.jumbotron {
  background: rgb(73, 160, 214);
  background-size: cover;
  width: 100%;
  height: auto;
  text-align: center;
 }

 .nav {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   font-size: 30px;
   border-bottom: 6px solid rgb(44, 44, 44);
  }

 .col-sm p{
   background-color: linen;
   padding: 15px;
   border-radius: 3px;
 }

.footer {
  height: 62px;
  border-top: 6px solid rgb(44, 44, 44);
  margin-top: 3px;
  background-color: #343a40!important;
  padding-top: 14px;
  color: #fff;
}


/* media query */

@media screen and (max-width: 767px) {
  body {
    background-image: url(https://res.cloudinary.com/tempest/image/upload/c_limit,cs_srgb,dpr_1.0,q_80,w_10000/MTI5MzY3NjMxODg2MDY0MDk0.jpg);
  }
}

@media screen and (max-width: 770px) {
  .card-deck {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 770px) {
  .card {
    margin: 20px
  }
}


